registry=https://kekalma-909924862699.d.codeartifact.eu-central-1.amazonaws.com/npm/Kekalma/
//kekalma-909924862699.d.codeartifact.eu-central-1.amazonaws.com/npm/Kekalma/:always-auth=true
//kekalma-909924862699.d.codeartifact.eu-central-1.amazonaws.com/npm/Kekalma/:_authToken=${CODEARTIFACT_AUTH_TOKEN}